div {
    min-width: 260px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

button {
    width: 100%;
    padding: 0;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 14px;
    cursor: pointer;
    font: 15px Arial, Tahoma, sans-serif;
    margin: 5px;
    background: #0a2638;
    color: white;
}